<div class="resourceTypes index">
<h2><?php __('ResourceTypes');?></h2>
<p>
<?php
echo $paginator->counter(array(
'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
));
?></p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th><?php echo $paginator->sort('id');?></th>
	<th><?php echo $paginator->sort('name');?></th>
	<th><?php echo $paginator->sort('description');?></th>
	<th class="actions"><?php __('Actions');?></th>
</tr>
<?php
$i = 0;
foreach ($resourceTypes as $resourceType):
	$class = null;
	if ($i++ % 2 == 0) {
		$class = ' class="altrow"';
	}
?>
	<tr<?php echo $class;?>>
		<td>
			<?php echo $resourceType['ResourceType']['id']; ?>
		</td>
		<td>
			<?php echo $resourceType['ResourceType']['name']; ?>
		</td>
		<td>
			<?php echo $resourceType['ResourceType']['description']; ?>
		</td>
		<td class="actions">
			<?php echo $html->link(__('View', true), array('action' => 'view', $resourceType['ResourceType']['id'])); ?>
			<?php echo $html->link(__('Edit', true), array('action' => 'edit', $resourceType['ResourceType']['id'])); ?>
			<?php echo $html->link(__('Delete', true), array('action' => 'delete', $resourceType['ResourceType']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $resourceType['ResourceType']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
</table>
</div>
<div class="paging">
	<?php echo $paginator->prev('<< '.__('previous', true), array(), null, array('class'=>'disabled'));?>
 | 	<?php echo $paginator->numbers();?>
	<?php echo $paginator->next(__('next', true).' >>', array(), null, array('class' => 'disabled'));?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('New ResourceType', true), array('action' => 'add')); ?></li>
		<li><?php echo $html->link(__('List Resources', true), array('controller' => 'resources', 'action' => 'index')); ?> </li>
		<li><?php echo $html->link(__('New Resource', true), array('controller' => 'resources', 'action' => 'add')); ?> </li>
	</ul>
</div>
