<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php echo $html->charset(); ?>
	<title>
		<?php __('HelpTrack: Needs, Resources and Projects Randevouz'); ?> › <?php echo $title_for_layout; ?>
	</title>
	<?php
		echo $html->meta('icon');
		echo $html->css('cake.generic');
		echo $scripts_for_layout;
	?>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1><?php echo $html->link(__('HelpTrack', true), '/'); ?></h1>
		</div>
		<div id="content">
			<?php if($session->read('Auth.User.email')): ?>
			<div id="mast" style="float:right">
	    		<?php echo $session->read('Auth.User.first_name').' '.$session->read('Auth.User.last_name'); ?>
		    	<?php echo $html->link('Logout', array('controller' => 'users', 'action' => 'logout')); ?>
			</div>
			<?php endif; ?>

			<?php $session->flash(); ?>

			<?php echo $content_for_layout; ?>

		</div>
		<div id="footer">
			<?php echo $html->link(
					$html->image('cake.power.gif', array('alt'=> __("CakePHP: the rapid development php framework", true), 'border'=>"0")),
					'http://www.cakephp.org/',
					array('target'=>'_blank'), null, false
				);
			?>
		</div>
	</div>
	<?php echo $cakeDebug; ?>
</body>
</html>